#logo{
}

body{
    background-color: rgb(179, 109, 109);
}


#total-orders{
    background-color: #FFEBCD;
}


#orders-delivered{
    background-color: #FFEBCD;
}

#orders-pending{
    background-color :#FFEBCD;
}