#logo{
}

body{
    background-color: black;
}


#total-orders{
    background-color: #FFEBCD;
}


#orders-delivered{
    background-color: #FFEBCD;
}

#orders-pending{
    background-color :#FFEBCD;
}